/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-blockylicious-piccy-image { 
    .thumbnail-image {
        height: 150px;
        object-fit: cover;
        width: 100%;
    }

    .components-button { 
        width: 100%;
        padding: 10px 20px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 10px;
        cursor: pointer;
        background: #ddd;
        box-sizing: border-box;
        border: none;
        box-shadow: none; 
        &:hover {
            background: #ccc;
        } 
    } 
}