/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-blockylicious-clicky-button {
	text-decoration: none;
	background: black;
	padding: 15px;
	color: white;
	 
}